@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(54, 208, 220);
  background: linear-gradient(
      286deg,
      rgba(54, 208, 220, 1) 0%,
      rgba(90, 136, 228, 1) 100%
    ),
    fixed;
}

.main-card {
  margin: 20px auto 20px auto;

  width: 80%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.navbar a {
  text-decoration: none;
  color: #3d3d3d;
  font-weight: 400;
  font-size: 0.9rem;
}

.left-nav p {
  color: #3d3d3d;
  font-weight: 600;
}

.right-nav a:not(:last-child) {
  padding-right: 40px;
}
/* End Navbar */

/* About section */
.about-section {
  display: flex;
  padding: 60px 40px;
  justify-content: center;
  align-items: center;
}

.profile-photo-container {
  width: 50%;
}

.description {
  width: 50%;
  padding-right: 40px;
}

.titled {
  font-size: 1rem;
  color: #333333;
}

.description h3 {
  font-size: 2rem;
  color: #333333;
}

.description-text {
  font-size: 0.78rem;
}

.profile-photo img {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  backdrop-filter: blur(5px);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  max-width: 80%;
  /* margin: auto; */
  float: right;
  padding-right: 40px;
}

.btn {
  padding: 10px 15px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  color: #333333;
}

.portfolio-btn {
  margin-right: 10px;
}

/* End About Section */

/* Education Section */

.education-container h1 {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  color: #333333;
}

.education-table {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px 20px;
}

.grid-item {
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.education-title {
  font-weight: 700;
}

.desc-education {
  font-size: 0.8rem;
}

.grid-item li {
  font-size: 0.8rem;
}
/* End Education Section */

/* Skills Section */
.skills-container h1 {
  margin-top: 30px;
  text-align: center;
  padding: 20px 20px 0 20px;
  font-size: 2rem;
  color: #333333;
}

.list-tech {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 5rem;
}

.icon-stack {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 40px;
  border-radius: 16px;
  /* margin: 20px; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-stack p {
  font-size: 1rem;
  font-weight: 500;
}
/* End Skills Section */

/* Footer section*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  margin-top: 20px;
}

.footer p {
  font-size: 0.8rem;
}
.social-media {
  display: flex;
  align-items: center;
}
.social-media a {
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
}

.social-media a:not(:last-child) {
  padding-right: 10px;
}

/* Portfolio Page */
.recent-work h1 {
  margin: 20px;
  text-align: center;
  padding: 20px 20px 0 20px;
  font-size: 2rem;
  color: #333333;
}

.w-100 {
  width: 100%;
}

.recent-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recent-work-card {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 50px 30px;
  border-radius: 16px;
}

.recent-work-card img {
  border-radius: 10px;
}

.work-title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: #333333;
}

.work-desc {
  font-size: 0.7rem;
  color: #3d3d3d;
}

.btn {
  cursor: pointer;
}
/* End Portfolio Page */

/* Eventide Page */
.eventide-page {
  padding: 20px;
}

.eventide-img img {
  border-radius: 25px;
}

.eventide-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 20px;
  color: #252525;
}

.eventide-page p {
  font-size: 0.8rem;
  color: #333333;
}

.detail-project {
  margin-top: 10px;
}

.detail-project a {
  text-decoration: none;
  color: #060458;
}

/* Contact Us Form */
.form-container {
  margin: 40px 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 30px;
  border-radius: 16px;
}

.form-container h1 {
  text-align: center;
  padding: 20px 20px 0 20px;
  font-size: 2rem;
  color: #333333;
}

.form-container label,
input {
  display: block;
}

.form-container input:not(:last-child) {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
}

.submit-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 5px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  margin-top: 10px;
  color: #333333;
  font-weight: 600;
  cursor: pointer;
}

.text-area {
  resize: none;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
}

::placeholder {
  color: #5e5e5e;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

.d-none {
  display: none;
}

.hamburger-icon {
  display: none;
}

/* Tab Media Query */
@media only screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }

  .profile-photo-container {
    width: 80%;
  }

  .profile-photo {
    max-width: 100%;
    padding: 20px;
  }

  .profile-photo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .description {
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 636px) {
  .mobile-navbar {
    padding: 5px 40px;
  }
  .mobile-navbar a {
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 0.9rem;
  }

  .right-nav {
    display: none;
  }

  .hamburger-icon {
    font-size: 1.2rem;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  .form-container h1 {
    font-size: 1.3rem;
  }

  .form-container {
    margin: 20px;
  }

  .form-container label {
    font-size: 0.9rem;
  }
}
